body{
  background-color: rgb(221, 205, 114);
  margin: 0;
}
.App{
  background-color: rgb(255, 255, 255);
  padding: 2em;
  width: 70vw;
  margin: auto;
}

nav a{
  text-decoration: none;
  margin-right: 0.1em;
  background-color: rgb(226, 221, 221);
  color: black;
  padding: 0.5em 1em;
  border-radius: 5px;
}

nav a:hover{
  background-color: rgb(221, 205, 114);
}

hr{
  color: rgb(224, 223, 217);;
  margin-top: 2em;
  margin-bottom: 1em;
}

.button{
  text-decoration: none;
  background-color: rgb(221, 205, 114);
  color: white;
  padding: 0.5em 1em;
  border-radius: 20px;
  border: transparent;
}

.button:hover{
  background-color: rgb(201, 149, 90);
}

.redbutton{
  text-decoration: none;
  background-color: rgb(190, 75, 21);
  color: white;
  padding: 0.5em 1em;
  border-radius: 20px;
  border: transparent;
  margin-right: 35em;
}

input[type="text"]{
  padding: 1em;
  border-radius: 10px;
  width: 30vw;
  border-width: 1px;
  margin: 0.5em 0em 2em;
}

label{
  font-size: 1.2em;
}